@import url("https://fonts.googleapis.com/css?family=Finger+Paint");

* {
  text-align: center;
  font-family: "Finger Paint", cursive;
  color: white;
  transition: all 0.2s ease-in-out 0s;
}
body {
  background-color: grey;
}
.concon {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 60px 75px 75px 75px 60px 75px;
  justify-content: center;
  align-items: stretch;
  width: 225px;
  height: 225px;
}
.menu {
  grid-column: 1/4;
}
.but {
  height: 75px;
  width: 75px;
  background-color: black;
  border: solid white;
  font-size: 30px;
}
.but:nth-child(4) {
  border-width: 0px 1px 1px 0px;
}
.but:nth-child(5) {
  border-width: 0px 0px 1px 0px;
}
.but:nth-child(6) {
  border-width: 0px 0px 1px 1px;
}
.but:nth-child(7) {
  border-width: 0px 1px 1px 0px;
}
.but:nth-child(8) {
  border-width: 0px 0px 1px 0px;
}
.but:nth-child(9) {
  border-width: 0px 0px 1px 1px;
}
.but:nth-child(10) {
  border-width: 0px 1px 0px 0px;
}
.but:nth-child(11) {
  border-width: 0px 0px 0px 0px;
}
.but:nth-child(12) {
  border-width: 0px 0px 0px 1px;
}
.but2 {
  height: 75px;
  color: white;
  background-color: #616161;
  border: 0px;
  border-radius: 10px;
}
.but2:active {
  font-size: 12px;
}
button:hover {
  -webkit-box-shadow: inset 0px -4px 75px 2px rgba(255, 255, 255, 0.58);
  -moz-box-shadow: inset 0px -4px 75px 2px rgba(255, 255, 255, 0.58);
  box-shadow: inset 0px -4px 75px 2px rgba(255, 255, 255, 0.58);
}
